BasedOnStyle: LLVM

AlwaysBreakAfterDefinitionReturnType: All    # void<NL>func(void)<NL>{
BreakBeforeBraces: Custom                    # use BraceWrapping
BraceWrapping:                               #
  AfterFunction: true                        # void<NL>func(void)<NL>{
ContinuationIndentWidth: 4                   # note
ConstructorInitializerIndentWidth: 99        # ?
IndentWidth: 4                               #
TabWidth: 4                                  #
UseTab: ForContinuationAndIndentation        # note
